.about-json-content {
  min-width: 45rem;
  max-width: 33.3rem;

  p {
    margin: 0;
    font-size: 1em;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight: 200;
  }
  
  @media screen and (max-width: 768px) {
    min-width: auto;
    max-width: none;
    padding: 0 !important;
    border-top: 1px #ffffff33 solid;
    background: none;
    border-radius: 0;

    p{
      margin-top: 3rem;
    }
  }

  table {
    margin: 2em 0;
    tbody {
      flex-direction: column;
      gap: 1em;

      tr {
        grid-template-columns: 10rem 3rem 1fr;
        td:nth-child(2n) {
          text-align: center;
        }
      }
    }
  }
}
