section#contact {
  @media screen and (max-width: 960px) {
    flex-direction: column;
  }

  & > section {
    flex: 1;

    &.form-content {
      // min-width: 45rem;
      align-self: flex-start;
      padding: 2rem;

      @media screen and (max-width: 960px) {
        align-self: auto;
      }

      form .form-control {
        margin-top: 2rem;
        // &:first-of-type{
        //   margin: 0;
        // }

        input[type='text'], input[type='email'],
        textarea {
          color: var(--tex-color);
          border: none;
          background-color: #ffffff05;
          width: 100%;
          padding: 1rem;
          resize: none;
        }

        input[type='submit']:hover{
          background-color: var(--primary-color);
          border-color: var(--primary-color);
        }

      }
    }
  }
}
