section#info {
  #path .path-timeline-content {
    min-height: 19rem;
    min-width: 19rem;
    flex-direction: column;
    padding-left: 3rem;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      background-color: #616161;
      width: 2px;
      top: 0;
      left: 0;
    }

    .path-timeline-item {
      // background-color: rgba(0, 81, 255, 0.37);
      margin-bottom: 3em;
      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        background-color: var(--primary-color);
        top: 0;
        left: -3.5rem;
      }

      .path-timeline-header {
        span {
          display: block;
          &:first-of-type {
            color: var(--text-color);
          }
          &:last-of-type {
            font-size: 0.9em;
          }
        }
      }
      .path-timeline-info p {
        margin-top: 0;
      }
    }
  }

  #knowledge .skills-content {
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    min-width: 24rem;

    .skill-item {
      display: inline-flex;
      flex-direction: column-reverse;
      max-width: min-content;
      text-align: center;

      .img-content {
        margin-bottom: 1rem;

        img {
          width: 5.2rem;
          height: auto;
          display: block;
          margin: auto;
        }
      }
    }
  }
}

.skills-content,
.path-timeline-content {
  margin-top: 4rem;
}
