$primary-color: #ff5722;

// darck colors
$bg-color-1: #111111;
$bg-color-2: #151515;
$bg-color-3: #1a1a1a;
$text-color: #E6E8E6;


// light colors
$bg-color-1-l: #ffffff;
$bg-color-2-l: #f7f7f7;
$bg-color-3-l: change-color($color: $primary-color, $alpha: 0.08);
$text-color-l: #101010;

:root {
  --primary-color: #{$primary-color};
  --bg-color-1: #{$bg-color-1-l};
  --bg-color-2: #{$bg-color-2-l};
  --bg-color-3: #{$bg-color-3-l};
  --text-color: #{$text-color-l};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

html {
  font-size: 10px;
  // font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  // font-weight: 400;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  background-color: var(--bg-color-2);
  color: var(--text-color);
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
}

h1 {
  font-size: 3.7rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
}

a{
  color: var(--text-color);
  text-decoration: none;

  *{
    display: inline-block;
  }

  &:not(.btn):after{
    content: "↗";
    font-size: .65em;
    position: absolute;
    top: 0;
    right: -0.5em;
    color: var(--primary-color);
  }
}

.flex-content {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  user-select: none;
  min-width: max-content;
  transition: cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 100;
  font-family: "JetBrains Mono","Courier New",Courier,monospace;
  font-weight: 500;
  font-size: .9em;
  text-decoration: none;

  &.primary {
    background-color: var(--primary-color);
    color: var(--bg-color-1);
  }

  &::before {
    content: '';
    opacity: 0;
    height: 12em; // eye centered percent
    width: 12em; // eye centered percent
    background-color: var(--text-color);
    border-radius: 50%;
    top: calc(-0.2em + 50%); // of border
    left: calc(-0.2em + 50%); // of border
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    z-index: -1;
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) 0.2s;
  }

  &:hover {
    color: var(--bg-color-2);
    border-color: var(--text-color);
    background-color: #1a1a1a;

    &::before {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

span.tag {
  background-color: change-color($color: $primary-color, $alpha: 0.2);
  padding: 0.3rem 1rem;
  border-radius: 0.4rem;
  color: var(--primary-color);
}

.target {
  background-color: var(--bg-color-3);
  border-radius: 1rem;
  padding: 3em;
  &.about-json-content {
    padding: 3em 4em;
  }
}


p {
  font-size: 1.1em;
  line-height: 2.5rem;
}

.black-target {
  background-color: var(--bg-color-1);
}

footer {
  .grid-content {
    grid-column: repeat(5, 1fr);
  }
}
