section#contact.black-target.flex-content
  section
    h2 Let´s work togetter on your next projet
    p 
      | Leave your email with a message to contact you.
      br
      | Let's build something extraordinary!
  section.form-content.target
    form(name='sendMessage',action="javascript:void(0);") 
      .flex-content
        .form-control
          input#firstName(type="text", name="firstName" placeholder="first name" required)
        .form-control
          input#lastName(type="text", name="lastName" placeholder="last name" required)
      .form-control
        input#email(type="email", name="email" placeholder="email" required)
      .form-control
        textarea#message(name="message" cols="30" rows="10" placeholder="message" required)
      .form-control
        input(type="submit", name="submit", value="submit").btn 