header.black-target.flex-content
  include ../../../assets/svg/logo.svg
  .banner.grid-content 
    .grid-item.title-content
      span.wellcome-target Wellcome 
      h1 Hi, I’m Samir Ruza  full-stack web developer
      p Every great developer you know got there by solving problems they were unqualified to solve until they actually did it.
    .grid-item.logo-content.flex-content
      include ../../../assets/svg/logo.svg
  .additional-content.flex-content
    div
      span.tag #helloworld
    .btn-content.flex-content
      a(href="#portfolio").btn See portfolio
      a(href="#contact").btn.primary Contact me