include ../utilities/mixins.pug

section#info.flex-content
  section#path
    span Path
    h2 Experience
    .path-timeline-content.flex-content
      +timeline-item('Media Designer', 2019, 2021, 'Design of advertising flyers, promotional images, presentations and audiovisual editing.')
      +timeline-item('Layout Designer', 2022, 2022, 'Layout creation of figma designs converted to HTML and CSS.')
  section#knowledge
    span knowledge
    h2 Skills
    .skills-content.flex-content
      //- item
      .skill-item
        h4 Angular
        .img-content
          img( loading="lazy", src="./public/images/ng.png", alt="Angular logo")
      //- item
      .skill-item
        h4 CSS
        .img-content
          img( loading="lazy", src="./public/images/css.png", alt="CSS3 logo")
      //- item
      .skill-item
        h4 Git
        .img-content
          img( loading="lazy", src="./public/images/git.png", alt="Git logo")
      //- item
      .skill-item
        h4 GraphQl
        .img-content
          img( loading="lazy", src="./public/images/gql.png", alt="GraphQl logo")
      //- item
      .skill-item
        h4 HTML
        .img-content
          img( loading="lazy", src="./public/images/html.png", alt="HTML5 logo")
      //- item
      .skill-item
        h4 Javascipt
        .img-content
          img( loading="lazy", src="./public/images/js.png", alt="javascript logo")
      //- item
      .skill-item
        h4 MongoDB
        .img-content
          img( loading="lazy", src="./public/images/mongo.png", alt="MongoDB logo")
      //- item
      .skill-item
        h4 Node.js
        .img-content
          img( loading="lazy", src="./public/images/node.png", alt="Node.js logo")
      //- item
      .skill-item
        h4 Pug.js
        .img-content
          img( loading="lazy", src="./public/images/pug.png", alt="Pug.js logo")
      //- item
      .skill-item
        h4 React
        .img-content
          img( loading="lazy", src="./public/images/react.png", alt="React logo")
      //- item
      .skill-item
        h4 Rxjs
        .img-content
          img( loading="lazy", src="./public/images/rxjs.png", alt="ReactiveX.js logo")
      //- item
      .skill-item
        h4 Sass
        .img-content
          img( loading="lazy", src="./public/images/sass.png", alt="SASS logo")
      //- item
      .skill-item
        h4 Typescript
        .img-content
          img( loading="lazy", src="./public/images/ts.png", alt="Typescript logo")