include ../utilities/mixins.pug

section#portfolio
  span Portfolio
  h2 Proyects
  .prorfolio-content.grid-content
    +projet-item('shoppingapp', 'shoppingapp.png',  'typescript', 'react-native', 'mobile')
    +projet-item('wordfinder-cli', 'wfinder.png', 'Node.js', 'typescript')
    +projet-item('shoppingapp-commerce-design', 'shoppingapp-commerce-design.jpg', 'adobeXD', 'design', 'ui/ux')
    +projet-item('sanaruca-website', 'website.png', 'pug', 'jade', 'sass')