extends ./components/layout.pug

block styles
  style(type='text/css').
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

block content
  include ./components/header.pug
  include ./components/about.pug
  include ./components/services.pug
  include ./components/info.pug
  include ./components/portfolio.pug
  include ./components/contact.pug
  include ./components/footer.pug