extends ./components/layout.pug

block content
  section.main-project.flex-content.black-target
    section.img-slider.flex-content
        .img
        .img
        .img
    section
      h1 #{project.name}
      p #{project.description}