section#about-me.flex-content
  section#about
    span About me
    h2 Today's digital age has no limits
    p I am a web and multiplatform application developer, very interested in new software projects that simplify day to day, I enjoy creating music and designing in my free time.
  .about-json-content.target
    p “The only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle.” p- Steve Jobs
    table: tbody.flex-content
      tr.grid-content
        td "fullname"
        td :
        td "Samir Ruza"
      tr.grid-content
        td "email"
        td :
        td "sanaruca@gmail.com"
      tr.grid-content 
        td "ocupation"
        td :
        td "freelance"
    a.btn.primary Download CV