section#contact.black-target.flex-content
  section
    h2 Let´s work togetter on your next projet
    p 
      | Leave your email with a message to contact you.
      br
      | Let's build something extraordinary!
  section.form-content.target
    form(action="javascript:void(0);") 
      .form-control
        input#subjet(type="text" placeholder="email")
      .form-control
        textarea#message(name="" cols="30" rows="10" placeholder="message")
      .form-control
        input(type="submit" value="submit").btn 