header.black-target.flex-content
  include ../../assets/svg/logo.svg
  nav.navigator-content.flex-content
    input#auxcheck(type="checkbox" name="auxcheck")
    a.pagename sanaruca
    label(for="auxcheck")
      i.burger
    .nav-links-content.flex-content
      ul.flex-content
        li: a(href="#about-me") about
        li: a(href="#services") services
        li: a(href="#info") skills
        li: a(href="#portfolio") portfolio
      //- li: a contact
      ul.flex-content
        li: a(target="_blank" href="https://github.com/sanaruca") github
        li: a(target="_blank" href="https://www.linkedin.com/in/sanaruca") linkedin
        li: a(target="_blank" href="https://www.instagram.com/sanaruca") instagram
  .banner.grid-content 
    .grid-item.title-content
      span.wellcome-target Wellcome 
      h1 Hi, I’m Samir Ruza  full-stack web developer
      p Every great developer you know got there by solving problems they were unqualified to solve until they actually did it.
    .grid-item.logo-content.flex-content
      include ../../assets/svg/logo.svg
  .additional-content.flex-content
    div
      span.tag #helloword
    .btn-content.flex-content
      a(href="#portfolio").btn See portfolio
      a(href="#contact").btn.primary Contact me