include ../utilities/mixins.pug

section#info.flex-content
  section#path
    span Path
    h2 Experience
    .path-timeline-content.flex-content
      +timeline-item('Media Designer', 2019, 2021, 'Design of advertising flyers, promotional images, presentations and audiovisual editing.')
  section#knowledge
    span knowledge
    h2 Skills
    .skills-content.flex-content
      //- item
      .skill-item
        h4 Angular
        .img-content
          img(src="../assets/ng.png", alt="Angular logo")
      //- item
      .skill-item
        h4 CSS
        .img-content
          img(src="../assets/css.png", alt="CSS3 logo")
      //- item
      .skill-item
        h4 Git
        .img-content
          img(src="../assets/git.png", alt="Git logo")
      //- item
      .skill-item
        h4 GraphQl
        .img-content
          img(src="../assets/gql.png", alt="GraphQl logo")
      //- item
      .skill-item
        h4 HTML
        .img-content
          img(src="../assets/html.png", alt="HTML5 logo")
      //- item
      .skill-item
        h4 Javascipt
        .img-content
          img(src="../assets/js.png", alt="javascript logo")
      //- item
      .skill-item
        h4 MongoDB
        .img-content
          img(src="../assets/mongo.png", alt="MongoDB logo")
      //- item
      .skill-item
        h4 Node.js
        .img-content
          img(src="../assets/node.png", alt="Node.js logo")
      //- item
      .skill-item
        h4 Pug.js
        .img-content
          img(src="../assets/pug.png", alt="Pug.js logo")
      //- item
      .skill-item
        h4 React
        .img-content
          img(src="../assets/react.png", alt="React logo")
      //- item
      .skill-item
        h4 Rxjs
        .img-content
          img(src="../assets/rxjs.png", alt="ReactiveX.js logo")
      //- item
      .skill-item
        h4 Sass
        .img-content
          img(src="../assets/sass.png", alt="SASS logo")
      //- item
      .skill-item
        h4 Typescript
        .img-content
          img(src="../assets/ts.png", alt="Typescript logo")