nav.navigator-content.flex-content.black-target
  input#auxcheck(type="checkbox" name="auxcheck")
  a.pagename sanaruca
  label(for="auxcheck")
    i.burger
  .nav-links-content.flex-content
    ul.flex-content
      li: a(href="#about-me") about
      li: a(href="#services") services
      li: a(href="#info") skills
      li: a(href="#portfolio") portfolio
    //- li: a contact
    ul.flex-content
      li: a(target="_blank" href="https://github.com/sanaruca") github
      li: a(target="_blank" href="https://www.linkedin.com/in/sanaruca") linkedin
      li: a(target="_blank" href="https://www.instagram.com/sanaruca") instagram