include ../utilities/mixins.pug

section#portfolio
  span Portfolio
  h2 Proyects
  .prorfolio-content.grid-content
    +projet-item('Shoppingapp', 'shoppingapp.png',  'typescript', 'react-native', 'mobile')
    +projet-item('Minesweeper', 'mines.png', 'html', 'css', 'javascript')
    +projet-item('My web site', 'website.png', 'pug', 'jade', 'sass')