include ../utilities/mixins.pug

section#portfolio
  span Portfolio
  h2 Proyects
  .prorfolio-content.grid-content
    +projet-item('Shoppingapp', 'typescript', 'react-native', 'mobile')
    +projet-item('Minesweeper', 'html', 'css', 'javascript')
    +projet-item('My web site', 'pug', 'jade', 'sass')