section#services.black-target
  span services
  h2 Create Solutions
  .grid-content
    .grid-item.target
      include ../../assets/svg/design.svg
      h3 Interface design
      p The design of your website or app should attract attention.
    .grid-item.target
      include ../../assets/svg/mobile.svg
      h3 Mobile apps
      p Mobile apps now account for over 57% of all digital media usage.
    .grid-item.target
      include ../../assets/svg/full-stack.svg
      h3 Font-end / Back-end
      p Both for what the user sees, and the infrastructure behind.